@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  height: 100vh;
}

.container_home {
  padding-top: 42px;
  background: linear-gradient(180deg, #040404 0%, #050016 51%, #040404 100%);
  height: 100vh !important;
}

.h1_home {
  position: absolute;
  width: 500px;
  margin-left: 70px;
  margin-top: 70px;
  color: white;
  z-index: 2;
}

.h1_home h1, p{
  font-size: 4.5rem ;
  line-height: 1;
}

.botao_home {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: black;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 8px #05001688;

  /* Transição suave */
  transition:
    font-size 0.3s ease,
    font-weight 0.3s ease,
    letter-spacing 0.3s ease,
    color 0.3s ease,
    background 0.4s ease,
    box-shadow 0.4s ease,
    text-shadow 0.4s ease;
}

.botao_home:hover {
  font-family: "Press Start 2P", system-ui;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  color: #00cfff;
  background: linear-gradient(90deg, #050016 0%, #000011 100%);
  box-shadow: 0 0 12px #00cfff55, 0 0 20px #00cfff33;
  text-shadow: 0 0 10px #00cfff88;
}


.carro_container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
  height: auto;
}

.carro_imagem {
  width: 100%;
  transition: opacity 0.3s ease;
}

.carro_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../public/assets/pixelart-header.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.carro_container:hover::before {
  opacity: 1;
}

